.badge-primary {
  font-size: medium;
  color: beige;
  border-radius: 4px;
}

.badge-warning {
  font-size: medium;
  color: black;
  border-radius: 4px;
}

.btn-secondary {
  font-size: large;
  color: white;
  padding: 2px;
  border-radius: 4px;
}
